---
---

<div
	id="ad-note-hidden"
	style="display: none"
	class="ad-note fixed bottom-4 right-4 z-50 w-56 rounded border border-zinc-900 bg-stone-50 p-4 shadow-[4px_4px_0px_0px] shadow-zinc-900 transition-transform hover:shadow-[8px_8px_0px_0px] dark:border-stone-50 dark:bg-zinc-900 dark:shadow-stone-300 dark:hover:shadow-stone-300 hidden lg:block"
>
  <p><strong>No adblocker detected!</strong></p>
	<p>
		Consider using
		<a href="https://github.com/gorhill/uBlock/blob/master/README.md" target="_blank" rel="noopener" class="underline hover:text-accent">uBlock Origin</a>
		to save time and bandwidth.
  </p>
  <p class="ad-note-close cursor-pointer w-max">❌ Close notice ❌</p>
</div>

<script defer src="/nativeads.js"></script>

<!--
-- No adblocker notice inspired by "No adblocker detected" blog post by maurycyz
-- Post URL: https://maurycyz.com/misc/ads/
-- Archive URL: https://web.archive.org/web/20260419022713/https://maurycyz.com/misc/ads/
-->
