---
import { Icon } from "astro-icon/components";
import FocusLink from "@lib/design-system/components/FocusLink.astro";
import FocusIconLink from "@lib/design-system/components/FocusIconLink.astro";
const lastDeployed = new Date();
---

<footer class="mb-4 mt-8 p-2 text-center text-xs">
	<div>
		Made with
		<Icon name="tabler:heart-filled" size={16} class="inline-block" aria-hidden="true" />

		and <FocusLink href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</FocusLink>
	</div>
	<time datetime={lastDeployed} class="block">
		Website last deployed: {
			lastDeployed.toLocaleString("en-us", {
				day: "numeric",
				month: "long",
				year: "numeric",
			})
		}
	</time>

	<div class="my-2 flex justify-center gap-2">
		<FocusIconLink href="/rss.xml" aria-label="RSS Feed">
			<Icon name="tabler:file-rss-filled" size={24} />
		</FocusIconLink>
		<FocusIconLink href="/sitemap-index.xml" aria-label="Sitemap">
			<Icon name="tabler:sitemap-filled" size={24} />
		</FocusIconLink>

		<FocusIconLink href="https://github.com/bLaCkwEw/cocotier.ro" target="_blank" rel="noopener noreferrer" aria-label="Github">
			<Icon name="tabler:brand-github-filled" size={24} />
		</FocusIconLink>
	</div>
</footer>