---
import { Icon } from "astro-icon/components";
const lastUpdated = new Date()
---

<footer class="mb-4 mt-8 p-2 text-center text-xs">
	<div>
    Made with 
    <Icon name="tabler:heart-filled" size={16} class="inline-block" />

      and <a
			href="https://astro.build"
			target="_blank"
			rel="noreferer noopener"
			class="transition hover:text-blue-500 active:text-blue-500"
		>
			Astro
		</a>
  </div>
  <time datetime={lastUpdated} class="block">
    Website last updated: {
    lastUpdated.toLocaleString("en-us", {
    day: "numeric",
    month: "long",
    year: "numeric",
    })
    }
  </time>

	<div class="my-2 flex justify-center gap-2">
		<a
			href="/rss.xml"
			class="transition hover:text-blue-500 active:text-blue-500"
			aria-label="RSS Feed"
		>
			<Icon name="tabler:file-rss-filled" size={24} />
		</a>
     <a
			href="/sitemap-index.xml"
			class="transition hover:text-blue-500 active:text-blue-500"
			aria-label="Sitemap"
		>
			<Icon name="tabler:sitemap-filled" size={24} />
		</a>

		<a
			href="https://github.com/bLaCkwEw/cocotier.ro"
			target="_blank"
			rel="noreferer noopener"
			class="transition hover:text-blue-500 active:text-blue-500"
			aria-label="Github"
		>
			<Icon name="tabler:brand-github-filled" size={24} />
    </a>
  </div>
  </footer>
