---
const { title } = Astro.props;
---

<header class="relative flex min-h-[10rem] w-full items-center justify-center md:h-64">
	<h1>{title}</h1>
	<div
		class="absolute -z-10 h-full w-full bg-gradient-to-r from-blue-500 to-fuchsia-500 opacity-60 blur-3xl"
	>
	</div>
</header>
