---
const { title } = Astro.props;
---

<header class="relative flex min-h-[10rem] w-full items-center justify-center md:min-h-[16rem]">
	<h1>{title}</h1>
	<div
		class="absolute -z-10 h-full w-full bg-gradient-to-r from-blue-400 to-fuchsia-400 opacity-60 blur-3xl dark:from-blue-500 dark:to-fuchsia-500"
	>
	</div>
</header>
