---
import ThemeToggle from "@lib/ThemeToggle.astro";
---

<nav class="my-2 flex justify-between border-b-2 border-blue-500 py-2">
	<a href="/" class="flex transition hover:text-blue-500">
		<img src="/favicon.png" alt="Favicon" title="Pixel Art Coconut Tree" width="32" height="32" />
	</a>
	<div class="flex items-center gap-4">
		<a href="/blog" class="transition hover:text-blue-500">Archive</a>
		<ThemeToggle />
	</div>
</nav>
