<<<<<<< HEAD
<nav class="my-2 border-b-2 border-blue-500 py-2 drop-shadow">
	<a href="/" class="text-lg transition hover:text-blue-500 active:text-blue-500">cocotier.ro</a>
=======
---
import ThemeToggle from "@lib/ThemeToggle.astro";
---

<nav class="my-2 flex justify-between border-b-2 border-blue-500 py-2">
	<a href="/" class="flex items-center text-lg transition hover:text-blue-500 active:text-blue-500">
		<img src="/favicon.png" alt="Favicon" title="Pixel Art Coconut Tree" width="32" height="32" />
	</a>
	<ThemeToggle />
>>>>>>> preview
</nav>
