<nav class="nav">
<a href="/" rel="prefetch">cocotier.ro</a>
<a href="/blog" rel="prefetch">Blog</a>
</nav>

<style>
.nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    padding: 0.35em 0;
    margin-bottom: 2em;
    box-shadow: 0 2px 0 #141927;
}
</style>
