---
const { slug, title, description, date_pub } = Astro.props;
---

<article class="my-4">
	<a
		href={`/blog/${slug}`}
		class="prose prose-zinc mx-auto block border border-zinc-900 bg-stone-50 p-4 shadow shadow-stone-300 transition hover:-translate-x-1 hover:-translate-y-2 hover:shadow-[10px_10px_0px_0px] hover:shadow-black focus:-translate-x-1 focus:-translate-y-2 focus:shadow-[10px_10px_0px_0px] focus:shadow-black dark:border-stone-50 dark:bg-zinc-900 dark:shadow-zinc-700 dark:hover:shadow-stone-300 dark:focus:shadow-stone-300"
	>
		<div class="leading-normal">
			<h3
				class="mb-2 mt-0 overflow-clip overflow-ellipsis text-2xl text-zinc-900 dark:text-stone-50"
			>
				{title}
			</h3>
			<time class="text-xs text-zinc-800 dark:text-stone-200" datetime={date_pub.toISOString()}
				>{
					new Date(date_pub).toLocaleDateString("en-US", {
						year: "numeric",
						month: "short",
						day: "numeric",
					})
				}
			</time>
		</div>
		<p class="overflow-clip overflow-ellipsis text-zinc-800 dark:text-stone-200">
			{description}
		</p>
	</a>
</article>
