---
const { title, description, date_pub } = Astro.props;
---

<article class="my-2">
	<div class="leading-normal">
		<h3 class="mb-2 mt-0 overflow-clip overflow-ellipsis text-2xl text-zinc-900 dark:text-stone-50">
			{title}
		</h3>
		<time class="text-xs text-zinc-800 dark:text-stone-200" datetime={date_pub.toISOString()}
			>{
				new Date(date_pub).toLocaleDateString("en-US", {
					year: "numeric",
					month: "short",
					day: "numeric",
				})
			}
		</time>
	</div>
</article>
