---
const { post } = Astro.props;

const formatDate = (date: Date) => {
	return date.toLocaleDateString("en-US", {
		day: "numeric",
		month: "long",
		year: "numeric",
	});
};

const formatDateAttr = (date: Date) => {
	return date.toLocaleDateString("en-CA");
};
---

<div class="mt-16 opacity-70">
	<time datetime={formatDateAttr(new Date(post.data.date_pub))} class="block">
		Published on {formatDate(new Date(post.data.date_pub))}
	</time>

	{
		post.data.date_updated ? (
			<time datetime={formatDateAttr(new Date(post.data.date_updated))} class="block">
				Updated on {formatDate(new Date(post.data.date_updated))}
			</time>
		) : null
	}
</div>
