---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@lib/Header.astro";

export async function getStaticPaths() {
	const blog_posts = await getCollection("blog");
	return blog_posts.map((post) => ({
		params: {
			slug: post.slug,
		},
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description}>
	<main
		class="prose prose-zinc max-w-none dark:prose-invert lg:prose-lg first:prose-h1:mb-0 first:prose-h1:font-mono prose-a:transition hover:prose-a:text-blue-500 focus:prose-a:text-blue-500 active:prose-a:text-blue-500 prose-a:prose-headings:text-transparent prose-a:prose-headings:no-underline prose-a:hover:prose-headings:text-blue-500 hover:prose-a:prose-headings:underline prose-figcaption:text-center prose-figcaption:italic prose-code:rounded prose-code:bg-slate-200 prose-code:px-1 prose-code:before:content-none prose-code:after:content-none prose-pre:shadow prose-code:prose-pre:bg-inherit prose-code:prose-pre:px-0 prose-img:mx-auto prose-img:aspect-video prose-img:max-h-80 prose-img:rounded prose-img:bg-slate-200 prose-img:shadow prose-hr:mx-auto prose-hr:h-3 prose-hr:w-full prose-hr:border-none prose-hr:bg-[url(/hr.svg)] prose-hr:bg-contain dark:prose-code:bg-zinc-800 dark:prose-code:prose-pre:bg-inherit dark:prose-img:bg-zinc-800 md:mx-auto md:p-0"
	>
		<Header title={post.data.title} />
		<hr />
		<Content />
	</main>
</BaseLayout>
