---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";

export async function getStaticPaths() {
	const blog_posts = await getCollection("blog");
	return blog_posts.map((post) => ({
		params: {
			slug: post.slug,
		},
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description="post.data.description">
	<h1>{post.data.title}</h1>
	<Content />
</BaseLayout>

<style>
	h1 {
		@apply text-center text-6xl font-bold;
	}
</style>
