---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";

export async function getStaticPaths() {
	const blog_posts = await getCollection("blog");
	return blog_posts.map((post) => ({
		params: {
			slug: post.slug,
		},
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description}>
	<main
		class="prose prose-zinc mx-auto lg:prose-lg prose-h1:text-center prose-a:transition hover:prose-a:text-blue-500 focus:prose-a:text-blue-500 active:prose-a:text-blue-500 prose-code:rounded prose-code:bg-slate-200 prose-code:px-1 prose-code:before:content-none prose-code:after:content-none prose-code:prose-pre:bg-inherit prose-code:prose-pre:px-0 prose-img:rounded prose-hr:mx-auto prose-hr:h-3 prose-hr:w-full prose-hr:border-none prose-hr:bg-[url(/hr.svg)] prose-hr:bg-contain"
	>
		<Content />
	</main>
</BaseLayout>
