---
import BaseLayout from "@layouts/BaseLayout.astro";
import { directus } from "@components/helpers/directus"

const data = await directus.getPosts();
---

<BaseLayout title="Blog">
	<h1 class="text-4xl">Blog</h1>

	<pre>
		{JSON.stringify(data)}
	</pre>

</BaseLayout>