---
import BaseLayout from "../../layouts/BaseLayout.astro"
---

<BaseLayout title="Blog">
<h1>Blog</h1>

<a href="/blog/ce-este-un-cocotier-totul-despre-cocotieri">Ce este un cocotier? Totul despre cocotieri</a>
</BaseLayout>