---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import PostCard from "@lib/PostCard.astro";

async function get_posts() {
	const blog_posts = await getCollection("blog", ({ data }) => {
		return data.draft !== true;
	});

	blog_posts.sort(
		(a, b) => new Date(b.data.date_pub).getTime() - new Date(a.data.date_pub).getTime()
	);

	return blog_posts;
}
const blog_posts = await get_posts();
---

<BaseLayout title="Blog">
	<main id="main-content">
		<h2 class="my-16 text-center text-3xl font-bold">Archive</h2>
		<section>
			{
				blog_posts.map((post) => (
					<PostCard post={post} />
				))
			}
		</section>
	</main>
</BaseLayout>
