body {
  background-color: #0b0e16;
  color: #fff;
  font-family: monospace;
  max-width: 600px;
  padding: 4rem 2rem;
  margin: 0 auto;
}

a,
a:visited {
  color: #8be9fd;
}

pre {
  display: block;
  overflow-x: auto;
}

.title {
  text-align: center;
}

.tree {
  font-size: 1em;
  width: max-content;
  margin: 0 auto;

  background-image: repeating-linear-gradient(
    to right,
    #202a5f,
    #4b2585,
    #9b316d,
    #ec4a4d,
    #ff8246,
    #ffb735,
    #ffff00,
    #c9ef00
  );
  background-size: 800% 800%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  animation: rainbow 13000ms linear infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}
