---
import BaseLayout from "@layouts/BaseLayout.astro"
import Icon from "astro-icon"
---

<BaseLayout title="Contact">
	<h1 class="text-left">Contact</h1>

	<form class="form-control gap-4" action={`${Astro.url.pathname}/success`}>
		<div>
			<label class="label" for="name">
				<span class="label-text text-2xl">Name</span>
			</label>
			<input
				class="input input-bordered w-full max-w-xs"
				type="text"
				name="name"
				placeholder="John Doe"
				required
			/>
		</div>

		<div>
			<label class="label" for="email">
				<span class="label-text text-2xl">Email</span>
			</label>
			<input
				class="input input-bordered w-full max-w-xs"
				type="email"
				name="email"
				placeholder="name@example.com"
				required
			/>
		</div>

		<div>
			<label class="label" for="subject">
				<span class="label-text text-2xl">Subject</span>
			</label>
			<input
				class="input input-bordered w-full max-w-xs"
				type="text"
				name="subject"
				placeholder="Need help with..."
				required
			/>
		</div>

		<div>
			<label class="label" for="message">
				<span class="label-text text-2xl">Message</span>
			</label>
			<textarea
				class="textarea textarea-bordered w-full max-w-xs h-auto"
				rows="4"
				name="message"
				placeholder="Hi! I wanted to ask..."
				required></textarea>
		</div>

		<button class="btn btn-primary mt-4">submit</button>
	</form>

	<div
		class="hidden lg:block lg:text-primary lg:absolute lg:top-1/4 lg:left-1/2 lg:max-w-md"
	>
		<Icon name="eva:message-square-fill" />
	</div>
</BaseLayout>
