---
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout title="404 Page not found">
	<div class="text-center my-36">
		<h1 class="text-4xl sm:text-6xl mb-4">Success</h1>
		<p class="text-xl sm:text-2xl">Your message has been received.</p>
		<p>
			Would you like to <a href="/" class="link link-primary">go home</a>?
		</p>
	</div>
</BaseLayout>
