---
import BlogLayout from "@layouts/BlogLayout.astro";
import Markdown from "@astrojs/markdown-component"
import { directus } from "@components/helpers/directus";

export async function getStaticPaths() {
	const data = await directus.getPosts()

	return data.map((post) => {
		return {
			params: {
				slug: post.slug
			},
			props: { post }
		}
	})

}

const { post } = Astro.props
---

<BlogLayout title={post.title}>

	<header>
		<h1>{post.title}</h1>
	</header>

	<img src={`https://tcwk2rc4.directus.app/assets/${post.image}?width=500`} alt="">


	<Markdown content={post.content} />
</BlogLayout>