---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
	<main class="prose prose-2xl prose-zinc my-32 text-center">
		<h1 class="mb-0">404</h1>
		<p class="mt-0">Page not found.</p>
	</main>
</BaseLayout>
