---
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout title="Home">
	<h1 class="mt-12 text-left text-6xl sm:text-7xl">
		We simply do <span class="underline decoration-primary">more</span>
	</h1>
	<p class="my-8 max-w-sm text-lg sm:text-2xl">
		From responsive landing pages and html emails to digital marketing and even
		task automation, if you have a need, we have a way.
	</p>

	<a href="/contact" class="btn btn-primary my-4">get in touch</a>
</BaseLayout>
