---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Post from "@lib/Post.astro";

async function get_posts() {
	const blog_posts = await getCollection("blog", ({ data }) => {
		return data.draft !== true;
	});

	blog_posts.sort((a, b) => b.data.date_pub.getTime() - a.data.date_pub.getTime());

	const filtered_posts = blog_posts.filter((post, id) => {
		if (id > 4) {
			return false;
		}
		return post;
	});

	return filtered_posts;
}
const blog_posts = await get_posts();
---

<BaseLayout
	title="Home"
	description="Welcome to cocotier.ro, where I share my passion for technology, marketing, and everything in between. Join me on my journey of discovery and let's reach new heights together."
>
	<main>
		<!-- <h1 class="my-24 text-center font-mono text-6xl md:text-8xl">Welcome</h1> -->

		<h2 class="my-16 text-center text-3xl font-bold">Latest Articles</h2>
		<section>
			{
				blog_posts.map((post) => (
					<Post
						slug={post.slug}
						title={post.data.title}
						description={post.data.description}
						date_pub={post.data.date_pub}
					/>
				))
			}
		</section>
	</main>
</BaseLayout>
