---
import BaseLayout from "@layouts/BaseLayout.astro"

const response = await fetch("https://tcwk2rc4.directus.app/items/blog_posts/3")
const blogPost = await response.json()
const date = new Date(blogPost.data.date_created)
---

<BaseLayout title="Home">
	<h1 class="text-6xl text-left">
		We simply do <span class="underline decoration-primary font-medium"
			>more
		</span>
	</h1>
	<p class="opacity-80 my-4 w-64">
		From responsive landing pages and html emails to digital marketing and even
		task automation, if you have a need, we have a way to fulfill it.
	</p>

	<a href="#" class="btn btn-primary">get in touch</a>
</BaseLayout>
