<header class="border-b border-base-content shadow-sm">
    <nav class="flex justify-between items-center px-10 sm:px-28 py-4 text-2xl">
        <a href="/" rel="prefetch" class="font-mono">cocotier.ro</a>
        <a href="/blog" rel="prefetch" class="text-base link link-hover">Blog</a>
    </nav>
</header>