<header class="border-b border-base-content shadow-sm shadow-base-content">
    <nav class="flex justify-between items-center px-10 sm:px-28 py-4 text-2xl">
        <a href="/" class="font-mono">cocotier.ro</a>
        <a href="/blog" class="text-base link link-hover">Blog</a>
    </nav>
</header>