---
import BlogLayout from "@layouts/BlogLayout.astro"
import Markdown from "@astrojs/markdown-component"
import type { Post } from "@components/types"
import { directus } from "@components/helpers/directus"
import BaseLayout from "@layouts/BaseLayout.astro"

export async function getStaticPaths() {
	const data = await directus.getPosts()

	return data.map((post: Post) => {
		return {
			params: {
				tag: post.slug,
			},
			props: { post },
		}
	})
}

const { post } = Astro.props
---

<BaseLayout>
	<h1>tag name</h1>
</BaseLayout>
