---
import BaseLayout from "@layouts/BaseLayout.astro"
import { directus } from "@components/helpers/directus"
import Tag from "@components/Tag.astro"
import type { Post } from "@components/types"

const posts = await directus.getPosts()
const post_tags = posts.map((post: Post) => {
	return post.tags
})

let unfiltered_tags: string[] = []

// Ugly. Needs refactoring
const push_tags = post_tags.map((tags_arr: string[]) => {
	tags_arr.map((tag) => {
		unfiltered_tags.push(tag)
	})
})

const filtered_tags = unfiltered_tags.filter((item, position) => {
	return unfiltered_tags.indexOf(item) === position
})
---

<BaseLayout title="Tags">
	<h1 class="text-left">Tags</h1>

	<div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
		{filtered_tags.map((tag) => <Tag tag={tag} />)}
	</div>
</BaseLayout>
