---
import Nav from "../lib/Nav.astro"
const {title} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>cocotier.ro - {title}</title>

    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
      <Nav />
      <slot />
  </body>
</html>
