---
import Nav from "@lib/Nav.astro";
import Footer from "@lib/Footer.astro";
import { SEOMetadata } from "astro-seo-metadata";

const { title, description, image } = Astro.props;
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<SEOMetadata
			title={title ? title + " - cocotier.ro" : "" + "cocotier.ro"}
			description={description}
			image={image}
			favicon={"/favicon.png"}
			author={"bLaCkwEw"}
			canonicalUrl={Astro.url.toString()}
			type={"website"}
			astroGenerator={true}
		/>

		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Theme toggle -->
		<script is:inline>
			if (
				localStorage.theme === "dark" ||
				(!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
	</head>
	<body
		class="mx-2 max-w-2xl bg-stone-50 text-zinc-900 dark:bg-zinc-900 dark:text-stone-50 md:mx-auto"
	>
		<Nav />
		<slot />
		<Footer />
	</body>
</html>
